@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
	margin: 0;
	text-align: center;
    font-family: Poppins;
}
h1{
   font-family: Poppins;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 30px;
  color:#FF642D;
}
h2{
    color: #FF642D;
    font-weight: 700;
}
h3{
  color: #ffff;
}
#wv h2{
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: -25px;
    margin-left: 25%;
	color:#FF642D;
}
#wv p{
    font-family: Poppins;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 24%;
    color:black;
}
h5{
    font-family: Poppins;
    font-weight: 400;
    margin-bottom: -25px;
    margin-left: 25%;
	color:#FF642D;
}
a:hover{
	text-decoration: none;
}
/*sliders*/
.carousel .carousel-indicators li {
	width: 30px;
    height: 0px;
    border-radius: 100%;
 }
.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: invert(1);
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='aqua' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='aqua' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-inner .carousel-item img {
    height: 375px;
    width: 320px !important;
    border-radius: 2%;
}
/*Nav section*/		
.NavEle{
    position: absolute;
    top: 5%;
}
nav{
    font-family: 'Poppins', sans-serif;
	width:100%;
	background: white;
	overflow: auto; 
}
ul{
         
	 margin: 150px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}			
li{
   
   display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
nav a{
     font-family: Poppins;
    font-weight: 600;
	color: #FF642D;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  margin-right: 50px;
  display: inline-block;
  padding: -1px;
  position: relative;
}
nav a:hover{
    color: #FF642D;
}
nav a:after{
    background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FF642D;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after{
    width: 100%; 
  left: 0; 
}
.logo img{
	position: absolute;
	width: 300px;
	height: 150px;
	margin-top:0px;
	margin-left: -10%;
}
.sections{
    margin-top: 100px;
}
/*Rating Section*/
.rating{
    letter-spacing: 0px;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 50px;
    color: #FF642D;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
#pk:hover{
    color:#FF642D
}
